<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>Sodimac</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list lines="none">
    <ion-item>
  
    <ion-button (click)="santiago()"> Región Metropolitana</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button>Región del Maule</ion-button>
    </ion-item>

    <ion-item>
      <ion-button> Región del Ñuble</ion-button>
    </ion-item> 
    
    <ion-item>
      <ion-button>Región del Biobío</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button>Región de La Araucanía</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button>Región de Los Ríos.</ion-button>
    </ion-item>

     <ion-item>
      <ion-button>Región de Los Lagos </ion-button>
    </ion-item>

     <ion-item>
      <ion-button>Región de Aysén</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button>Región de Magallanes</ion-button>
    </ion-item>

  </ion-list>
</ion-content>