<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>Santiago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

  <ion-item>
    <ion-button (click)="estacion()">Estacion Central</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="lascondes()">Las Condes</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="elbosque()">El Bosque</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="macul()">Macul</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="maipu()">Maipu</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="snuble()"> Nuble</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="losdominico()">Los Dominicos</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="plazavespucio()">Plaza Vespucio</ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="plazaoeste()">Plaza Oeste</ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="plazanorte()">Plaza Norte</ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="quilicura()">Quilicura</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="quilin()">Quilin</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="sanmiguel()">San Miguel</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="tobalaba()">Tobalaba</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="kennedy()">Kennedy</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="independencia()">Independencia</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="lareina()">La Reina</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="puentealto()">Puente Alto</ion-button>
  </ion-item>
  
  
  </ion-list>
  
</ion-content>
