<ion-header>
  <ion-toolbar>
    <ion-title>santiago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list lines="none">
    <ion-item>
    <ion-button (click)="condes()">Las Condes</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="bernardo()">San Bernardo</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="costanera()">Costanera Center</ion-button>
    </ion-item> 
    
    <ion-item>
      <ion-button (click)="chicureo()">Chicureo</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="dehesa()">La Dehesa</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="florida()">La Florida</ion-button>
    </ion-item>

     <ion-item>
      <ion-button (click)="maipu()">Maipu</ion-button>
    </ion-item>

     <ion-item>
      <ion-button (click)="llano()">El Llano</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="ochagavia()">Ochagavia</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="nunoa()">Portal Nuñoa</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="quilin()">Quilin</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button (click)="reina()">La Reina</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="amalia()">Santa Amalia</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="cerrillo()">Cerrillo</ion-button>
    </ion-item>
  </ion-list>
</ion-content>