<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>EASY</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-list lines="none">
    <ion-item>
      <ion-button (click)="santiago()" > Región Metropolitana </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button (click)="nuble()"> Región del Ñuble</ion-button>
    </ion-item> 
    
    <ion-item>
      <ion-button (click)="biobio()">Región del Biobío</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="araucania()">Región de La Araucanía</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="losrios()">Región de Los Ríos.</ion-button>
    </ion-item>

     <ion-item>
      <ion-button (click)="loslagos()">Región de Los Lagos </ion-button>
    </ion-item>

     <ion-item>
      <ion-button (click)="aysen()">Región de Aysén</ion-button>
    </ion-item> 

    <ion-item>
      <ion-button (click)="magallanes()">Región de Magallanes</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
