<ion-header>
  <ion-toolbar>
    <ion-title>santiago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
  
    <ion-list lines="none">
      <ion-item>
        <ion-button (click)="lasrejas()"> Las Rejas</ion-button>
      </ion-item>
  
      <ion-item>
        <ion-button (click)="lascondes()"> Las Condes</ion-button>
      </ion-item> 
      
      <ion-item>
        <ion-button (click)="malloco()">Malloco</ion-button>
      </ion-item> 
  
      <ion-item>
        <ion-button (click)="Mrodriguez()">Manuel Rodriguez</ion-button>
      </ion-item> 
  
      <ion-item>
        <ion-button (click)="departamental()">Departamental</ion-button>
      </ion-item>
  
       <ion-item>
        <ion-button (click)="alamos()">Los Alamos</ion-button>
      </ion-item>
  
       <ion-item>
        <ion-button (click)="errazuriz()">Errazuriz</ion-button>
      </ion-item> 
  
      <ion-item>
        <ion-button (click)="melipilla()">Melipilla</ion-button>
      </ion-item>
  
    </ion-list>
  </ion-content>
</ion-content>
