ion-toolbar{

background-image: url(/src/assets/icon/veloti.jpg);




}

.contenido{

    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 33.33%;
    position: relative;
    text-align:center;
    margin-top: 8px;
    margin-top: 8px;
   
    
  
}
.item{
  margin-top: 8px;
    margin-top: 8px;
  
}

.container{

  position: relative;
  text-align:center;
  margin-top: 8px;
    margin-top: 8px;
    
  
}
.culote{
  
  background-image: url(../home/imagenes/chilemat.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
 
  
  
  
  cursor: pointer;
 }
 .culote:hover
 {
  width: 75px;
  height: 75px;
 }

 .grupo{

  position:relative;
  text-align: center;
  align-content: center;
  display: inline-block;
  background: transparent;
  
  border-radius: 6px;
  padding: auto;
  
}


___________________________________



.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.easy{
  
  background-image: url(../home/imagenes/easy.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .easy:hover
 {
  width: 75px;
  height: 75px;
 }


 _______________________


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.sodimac{
  
  background-image: url(../home/imagenes/sodimac-homecenter.svg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .sodimac:hover
 {
  width: 75px;
  height: 75px;
 }
________________________________-


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.construmart{
  
  background-image: url(../home/imagenes/construmart2.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  background-repeat: no-repeat;
  
  cursor: pointer;
 }
 .construmart:hover
 {
  width: 75px;
  height: 75px;
 }
_______________________________________


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.casaroyal{
  
  background-image: url(../home/imagenes/casaroyal.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .casaroyal:hover
 {
  width: 75px;
  height: 75px;
 }

 ____________________________


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.yolito{
  
  background-image: url(../home/imagenes/yolito.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .yolito:hover
 {
  width: 75px;
  height: 75px;
 }
 ___________________-


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.mts{
  
  background-image: url(../home/imagenes/mts.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  background-repeat: no-repeat;
  
  cursor: pointer;
 }
 .mts:hover
 {
  width: 75px;
  height: 75px;
 }
 ___________________________


.contenido{

  width: 900px;
    height: 260px;
    padding: 20px 30px 20px 30px;
    left: 50%;
}


.container{

  position: absolute;
  text-align: center;
  
}
.imperial{
  
  background-image: url(../home/imagenes/imperial.jpeg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .imperialc:hover
 {
  width: 75px;
  height: 75px;
 }
____________

.veloti{

  background-image: url( /assets/icon/veloti.svg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px 30px 20px 30px;
  width: 70px;
  align-items: center;
  height: 70px;
  transition: all 0.5s;
  border-radius: 900px;
  
  cursor: pointer;
 }
 .velotic:hover
 {
  width: 75px;
  height: 75px;
 }




    